footer {
    height: 100px;
    color: white;
    background-color:darkslategrey;
}

#lugarfecha {
    color:white;
    background-color:grey;
}

#btnform {
    background-color: greenyellow;
}

.menu {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

.split {
    height: 100%;
    width: 50%;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
